---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home">
	<div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
  <h1 class="h1">Work in progress</h1>
  <p>Check CSES page!</p>
  </div>

</MainLayout>