---
import MainLayout from "../../layouts/MainLayout.astro";


---

<MainLayout title="CSES">
    <header>
        <div class="container">
        </div>
    </header>
    <div class="post-contest">
        <div class="content">
            oi
        </div>
    </div>
</MainLayout>