---
---
<footer class="p-6 text-center text-sm text-white">
    <p>
        Copyright © {new Date().getFullYear()}. All rights reserved. Made by
        <a href="https://github.com/loioladev" target="_blank" rel="noopener">
            <span class="text-orange"> Matheus Loiola.</span>
        </a>
    </p>
</footer>
