---
---
<footer>
    <div>
    <small>
        Copyright &copy; {new Date().getFullYear().toString()}. Made by
        <a href="https://github.com/loioladev" target="_blank" rel="noopener">
            <span class=>Matheus Loiola</span>
        </a>
    </small>
    </div>
</footer> 

