---
const { title = 'Matheus Loiola', description = 'Welcome to my site, where I showcase my projects, passions, and expertise in both competitive programming and regular programming. Explore and discover the exciting world of coding, problem-solving, and innovation!' } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Matheus Loiola" />
    <meta name="description" content={description}>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
</head>