---
---

<section>
    <img src="../assets/images/stars0.png" data-speed="-5" class="layer" />
    <img src="../assets/images/stars1.png" data-speed="-5" class="layer" />
    <script>
        document.addEventListener("mousemove", parallax);
        function parallax(e) {
            this.querySelectorAll(".layer").forEach((layer) => {
                const speed = layer.getAttribute("data-speed");
                const x = (window.innerWidth - e.pageX * speed) / 100;
                const y = (window.innerHeight - e.pageY * speed) / 100;

                layer.style.transform = `translateX(${x}px) translateY(${y}px)`;
            });
        }
    </script>
    
</section>
