---
import { Icon } from "astro-icon";
import Link from "./Link.astro";
import navData from "../data/navData";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="logomark">
      <Icon name="logomark" width="40" />
    </a>
    <ul>
      {
        navData.map((item) => (
          <Link
            href={item.path}
            text={item.name}
            style="primary"
            isFilled={false}
          />
        ))
      }
    </ul>
  </div>
</nav>
