---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

export interface LayoutProps {
	title: string;
}

const { title = 'Matheus Loiola | Computer Scientist' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>
